
#-supports_check_mode $true

# "_ansible_check_mode" -type "bool" -default $false
# "_ansible_diff" -type "bool" -default $false
# "gpo" -type "str" -failifempty $true
# "name" -type "str" -failifempty $true
# "path" -type "str" -failifempty $true
# "state" -type "str" -default "present" -validateset "absent", "disabled", "present"
# "type" -type "str" -default "string" -ValidateSet "string", "expandstring", "binary", "dword", "multistring", "qword"
# "value"

# https://admx.help/?Category=security-compliance-toolkit

plbr_gpo_global: {
  "global.DisableNTLM": {
    gpo_ous: {},
    gpo_desc: "local.DisableNTLM",
    gpo_registry: {
      "RestrictReceivingNTLMTraffic"  : { 
        "path" : "HKLM\\System\\CurrentControlSet\\Control\\Lsa\\MSV1_0", 
        'type': "dword", 
        'value': 2,
        'state': "present"
      },
      "AuditReceivingNTLMTraffic"  : { 
        "path" : "HKLM\\System\\CurrentControlSet\\Control\\Lsa\\MSV1_0", 
        'type': "dword", 
        'value': 2,
        'state': "present"
      },   
      "RestrictSendingNTLMTraffic"  : { 
        "path" : "HKLM\\System\\CurrentControlSet\\Control\\Lsa\\MSV1_0", 
        'type': "dword", 
        'value': 2,
        'state': "present"
      },   
      "RestrictNTLMInDomain"  : { 
        "path" : "HKLM\\System\\CurrentControlSet\\Services\\Netlogon\\Parameters", 
        'type': "dword", 
        'value': 7,
        'state': "present"
      },   
      "AuditNTLMInDomain"  : { 
        "path" : "HKLM\\System\\CurrentControlSet\\Services\\Netlogon\\Parameters", 
        'type': "dword", 
        'value': 7,
        'state': "present"
      }    
    },
    gpo_domain: true,
    gpo_domain_enforced: true,
    gpo_domain_enabled: false,
    gpo_domain_state: "present"
  },
  "global.refresh_gpo_policy": {
    gpo_ous: {},
    gpo_desc: "global.refresh_gpo_policy",
    gpo_registry: {
      "GroupPolicyRefreshTime"  : { 
        "path" : "HKLM\\Software\\Policies\\Microsoft\\Windows\\System", 
        'type': "dword", 
        'value': 5,
        'state': "present"
      },
      "GroupPolicyRefreshTimeOffset"  : { 
        "path" : "HKLM\\Software\\Policies\\Microsoft\\Windows\\System", 
        'type': "dword", 
        'value': 1,
        'state': "present"
      }      
    },
    gpo_domain: true,
    gpo_domain_enforced: true,
    gpo_domain_enabled: true,
    gpo_domain_state: "present"
  },
# https://blog.troubly.fr/posts/authentication-policy-silos-defensive-strategies/
  "global.kerberos_client": {
    gpo_ous: {},
    gpo_desc: "global.kerberos_client",
    gpo_registry: {
      "EnableCbacAndArmor"  : { 
        "path" : "HKLM\\Software\\Microsoft\\Windows\\CurrentVersion\\Policies\\System\\Kerberos\\Parameters", 
        'type': "dword", 
        'value': 1,
        'state': "present"
      }
    },
    gpo_domain: true,
    gpo_domain_enforced: true,
    gpo_domain_enabled: true,
    gpo_domain_state: "present"
  },
# https://blog.troubly.fr/posts/authentication-policy-silos-defensive-strategies/
  "global.kdc_server": {
    gpo_ous: {
      "Domain Controllers": {
        name: "Domain Controllers",
        path: "microsoft.ad.default_path",
        enforced: true,
        enabled: true,
        state: "present"
      }
    },
    gpo_desc: "global.kdc_server",
    gpo_registry: {
      "CbacAndArmorLevel"  : { 
        "path" : "HKLM\\Software\\Microsoft\\Windows\\CurrentVersion\\Policies\\System\\KDC\\Parameters", 
        'type': "dword", 
        'value': 2,
        'state': "present"
      }   
    },
    gpo_domain: false,
    gpo_domain_enforced: false,
    gpo_domain_enabled: false,
    gpo_domain_state: "present"
  },  
}

