---
- name: "SETUP LOCAL SECURITIES"
  hosts: domain
  max_fail_percentage: 0
  gather_facts: false
  roles:
    - { role: "windows_cfg_uac", tags: 'windows_security'}
    - { role: "windows_cfg_windows_defender", tags: 'windows_security'}
    - { role: "windows_cfg_elastic_endpoint", when: "plbr_elastic_endpoint_install", tags: 'windows_security'}
    - { role: "windows_cfg_run_as_ppl", tags: 'windows_security'}
    - { role: "windows_cfg_firewall", tags: 'windows_security'}
    - { role: "windows_cfg_deviceguard", tags: 'windows_security'}
  vars:
    w_cfg_uac_level: "{{ plbr_uac_level }}"
    w_cfg_run_as_ppl: "{{ plbr_run_as_ppl }}"
    w_cfg_defender_is_server_os: "{{ plbr_is_server_os }}"
    w_cfg_defender: "{{ plbr_windows_defender }}"
    w_cfg_firewall_profiles: "{{ plbr_firewall_profiles }}"
    w_cfg_firewall_rules: "{{ plbr_firewall_rules }}"
    w_cfg_deviceguard_vbs_dma: "{{ plbr_deviceguard_vbs_dma }}"
    w_cfg_deviceguard_cg: "{{ plbr_deviceguard_cg }}"
    w_cfg_deviceguard_hvci: "{{ plbr_deviceguard_hvci }}"
    w_cfg_elastic_endpoint_server: "{{ plbr_elastic_endpoint_server }}"
    # w_cfg_elastic_endpoint_version: