---
- name: BASE BUILD FIREWALL
  hosts: fw
  gather_facts: true
  become: true
  become_user: root
  max_fail_percentage: 0
  roles:
    - { role: plocate }
    - { role: pacman, when: "ansible_facts['distribution'] == 'Archlinux'" }
    - { role: reflector, when: "ansible_facts['distribution'] == 'Archlinux'" }
    - { role: pacman_upgrade }
    - { role: time-sync }
    - { role: gen-locale}
    - { role: opensshd}
    - { role: wifi_ap}
  tasks:
    - name: Create hostapd.conf
      ansible.builtin.template:
        src: ../../files/fw/hostapd.conf.j2
        dest: /etc/hostapd/hostapd.conf
        owner: root
        group: root
        mode: '0644'
    - name: Create hostapd.eap_user
      ansible.builtin.template:
        src: ../../files/fw/hostapd.eap_user.j2
        dest: /etc/hostapd/hostapd.eap_user
        owner: root
        group: root
        mode: '0644'

    - name: Copy other hostapd files
      ansible.builtin.copy:
        src: "../../files/fw/{{ item }}"
        dest: "/etc/hostapd/{{ item }}"
        owner: root
        group: root
        mode: '0644'
      loop:
        - hostapd.accept
        - hostapd.deny
        - hostapd.dh.pem
        - hostapd.server.pem
        - hostapd.ca.pem
    - name: Copy hostapd server private key
      ansible.builtin.copy:
        src: "../../files/fw/{{ item }}"
        dest: "/etc/hostapd/{{ item }}"
        owner: root
        group: root
        mode: '0600'
      loop:
        - hostapd.server.prv
    - name: Disable NAT interface
      ansible.builtin.blockinfile:
        path: /etc/systemd/network/80-dhcp.network
        append_newline: true
        prepend_newline: true
        block: |
          [Link]
          Unmanaged=yes
      when: disable_nat

    - name: Ensure that DNS is set on public_interface
      ansible.builtin.lineinfile:
        path: "/etc/systemd/network/eth1.network"
        regexp: '^DNS='
        insertafter: '^Gateway='
        line: 'DNS={{ dns_server }}'
      when: disable_nat

    - name: Reboot
      ansible.builtin.reboot:
      when: disable_nat

    - name: Install packages
      community.general.pacman:
        name: "{{ item }}"
        state: present
      loop: "{{ pacman_arch_packages | default([]) }}"
      register: __pacman

    - name: Install ufw
      ansible.builtin.include_role:
        name: "ufw"
      vars:
        ufw_in_ssh_ip: "{{ [] + [ufw_in_ssh_allow] }}"
        ufw_forward: true
        ufw_nat: true

#    - name: Debug
#      debug:
#        msg: "{{interface}} route to {{info[interface].ipv4.network}}/{{info[interface].ipv4.prefix}}"
##        msg: "{{interface}} info {{info[interface]}}"
#      vars:
#        info: "{{hostvars[inventory_hostname].ansible_facts}}"
#        interface: "{{item}}"
#      with_items: "{{domains_interfaces}}"

## ufw route allow in on eth1 out on eth2 to 172.17.0.0/24 port 80 proto tcp
#    - name: Debug
#      debug:
#        msg: "ufw route allow in on {{public_interface}} out on {{interface}} to  {{info[interface].ipv4.network}}/{{info[interface].ipv4.prefix}}"
##        msg: "{{interface}} info {{info[interface]}}"
#      vars:
#        info: "{{hostvars[inventory_hostname].ansible_facts}}"
#        interface: "{{item}}"
#      with_items: "{{domains_interfaces}}"

    - name: Allow public interface (ufw_in_ssh_allow) to domain networks (TCP)
      community.general.ufw:
        comment: "[L2D] ip forward from {{ public_interface }} to {{ info[interface].ipv4.network }}/{{ info[interface].ipv4.prefix }} on {{ interface }}"
        interface_in: "{{ public_interface }}"
        from_ip: "{{ ufw_in_ssh_allow }}"
        interface_out: "{{ interface }}"
        to_ip: "{{ info[interface].ipv4.network }}/{{ info[interface].ipv4.prefix }}"
        proto: tcp
        route: true
        rule: allow
        state: enabled
      vars:
        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
        interface: "{{ item }}"
      with_items: "{{ domains_interfaces }}"

    - name: Allow public interface (ufw_in_ssh_allow) to domain networks (UDP)
      community.general.ufw:
        comment: "[L2D] ip fwd from {{ public_interface }} to {{ info[interface].ipv4.network }}/{{ info[interface].ipv4.prefix }} on {{ interface }} (UDP)"
        interface_in: "{{ public_interface }}"
        from_ip: "{{ ufw_in_ssh_allow }}"
        interface_out: "{{ interface }}"
        to_ip: "{{ info[interface].ipv4.network }}/{{ info[interface].ipv4.prefix }}"
        proto: udp
        route: true
        rule: allow
        state: enabled
      vars:
        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
        interface: "{{ item }}"
      with_items: "{{ domains_interfaces }}"

    - name: Allow Domain to internet
      community.general.ufw:
        comment: "[D2L] ip forward from {{ interface }} to {{ internet_interface }}"
        interface_in: "{{ interface }}"
        interface_out: "{{ internet_interface }}"
        proto: tcp
        route: true
        rule: allow
        state: enabled
        to_ip: any
      vars:
        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
        interface: "{{ item }}"
      with_items: "{{ domains_interfaces }}"

    - name: Allow internals to internet (UDP)
      community.general.ufw:
        comment: "[D2L] ip forward from {{ interface }} to {{ internet_interface }} (UDP)"
        interface_in: "{{ interface }}"
        interface_out: "{{ internet_interface }}"
        proto: udp
        route: true
        rule: allow
        state: enabled
        to_ip: any
      vars:
        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
        interface: "{{ item }}"
      with_items: "{{ domains_interfaces }}"
#
    - name: Insert NAT rules for domains interface to internet
      ansible.builtin.include_tasks: tasks/fw-add-nat.yml
      vars:
        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
        interface: "{{ internet_interface }}"
        domain: "{{ item }}"
      with_items: "{{ domains_interfaces }}"
#
    - name: Reboot
      ansible.builtin.reboot:

# Allow traffic between domain interfaces (both TCP and UDP)
    - name: Allow traffic between domain interfaces (TCP)
      community.general.ufw:
        comment: "[L2D] ip forward from {{ interface_src }} to {{ interface_dst_info.ipv4.network }}/{{ interface_dst_info.ipv4.prefix }} on {{ interface_dst }}"
        interface_in: "{{ interface_src }}"
        interface_out: "{{ interface_dst }}"
        to_ip: "{{ interface_dst_info.ipv4.network }}/{{ interface_dst_info.ipv4.prefix }}"
        proto: tcp
        route: true
        rule: allow
        state: enabled
#      vars:
#        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
      loop: "{{ domains_interfaces | product(domains_interfaces) | list }}"
      loop_control:
        loop_var: domain_pair
      vars:
        interface_src: "{{ domain_pair[0] }}"
        interface_dst: "{{ domain_pair[1] }}"
        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
        interface_dst_info: "{{ info[interface_dst] }}"
      when: domain_pair[0] != domain_pair[1]

    - name: Allow traffic between domain interfaces (UDP)
      community.general.ufw:
        comment: "[L2D] ip forward from {{ interface_src }} to {{ interface_dst_info.ipv4.network }}/{{ interface_dst_info.ipv4.prefix }} on {{ interface_dst }}"
        interface_in: "{{ interface_src }}"
        interface_out: "{{ interface_dst }}"
        to_ip: "{{ interface_dst_info.ipv4.network }}/{{ interface_dst_info.ipv4.prefix }}"
        proto: udp
        route: true
        rule: allow
        state: enabled
#      vars:
#        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
      loop: "{{ domains_interfaces | product(domains_interfaces) | list }}"
      loop_control:
        loop_var: domain_pair
      vars:
        interface_src: "{{ domain_pair[0] }}"
        interface_dst: "{{ domain_pair[1] }}"
        info: "{{ hostvars[inventory_hostname].ansible_facts }}"
        interface_dst_info: "{{ info[interface_dst] }}"
      when: domain_pair[0] != domain_pair[1]

    - name: Disable default routing
      community.general.ufw:
        default: deny
        direction: routed
