---
- name: Ensure domains are reachable
  import_playbook: books/domains-reachable.yml
#- name: Compute kerberos Auth
#  import_playbook: books/compute-kerberos-auth.yml

# ##################################
# Start Extended inventory computing
# ##################################
- name: COMPUTE EXTENDED INVENTORY (LOCAL)
  import_playbook: books/compute-properties_local.yml

- name: COMPUTE EXTENDED INVENTORY (DOMAIN)
  import_playbook: books/compute-properties_domain.yml

- name: COMPUTE EXTENDED INVENTORY (FOREST)
  import_playbook: books/compute-properties_forest.yml
  when: groups["child_dc"] | length > 0

- name: COMPUTE EXTENDED INVENTORY (TRUST)
  import_playbook: books/compute-properties_trust.yml
  when: groups["trust"] | length > 0

- name: COMPUTE EXTENDED INVENTORY (MSSQL)
  import_playbook: books/compute-properties_mssql.yml
  when: groups["mssql"] | length > 0
# ################################
# End Extended inventory computing
# ################################

- name: COMPUTER SECURITY
  import_playbook: books/computers-security.yml

#- name: test 1
#  import_playbook: test_books/_test_mssql.yml

#- nadns exchange
#  import_playbook: test_books/_test_exchange.yml

#- name: play windows_domain_sccm_cfg_boundary
#  import_playbook: test_books/_test_windows_domain_sccm_cfg_boundary.yml
#- name: Build domains
#  import_playbook: test_books/_test_kerberos.yml

#- name: Compute extended inventory (local)
#  import_playbook: books/compute-properties_local.yml
#- name: Compute extended inventory (domain)
#  import_playbook: books/compute-properties_domain.yml
#
#- name: Build domains
#  import_playbook: books/_test_gpo.yml